.fc-event-title {
    font-weight: bold;
    font-size: 13px;
}
.fc-day-today {
    background: #FFF !important;
    border: none !important;
} 

.fc-event {
    margin-left: 5px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    max-width: fit-content !important;
    padding: 0px 5px !important;
  }

.fc-prev-button,
.fc-next-button,
.fc-today-button{
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #000 !important;
}
.fc-prev-button{
    margin-left: 20px !important;
}
.fc-next-button
{
    margin-right: 20px !important;
}



