.about-us-container {
    margin: 50px auto;
    max-width: 800px;
    text-align: center;
  }
  
  .about-us-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #1d2029;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font-size: 1.2rem;
    color: #1d2029;
    line-height: 1.5;
  }
  