.tit{
    text-align: center;
}
.comparebtn{
    margin-right: 1rem;
}
.Gridc {
    display: flex;
    /* justify-content: ; */
    align-items: center;
    margin: 1rem;

  }
  
  @media (max-width: 768px) {
    .Gridc {
      flex-direction: column;
      margin: 0;
    }
    .comparebtn{
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 1rem;
    }
  
    .Gridc > div {
      margin-bottom: 1rem;
    }
  }
  
  .Gridcar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
    margin: 3rem;
  }
  
  @media (max-width: 768px) {
    .Gridcar {
      grid-template-columns: 1fr;
    }
  }
  