.tit{
    text-align: center;
}

.Tablec{
    margin-bottom: 4rem;
}

.leftc{
    padding-right: 10rem;
    padding-left: 11rem;

}

.rightc{
    padding-left: 10rem;
}





.leftcar{
    padding-left: 2rem;
}

.rightcar{
    padding-right: 2rem;
    padding-left: 1rem;
}