.NavBack {
  margin: 2rem;
  font-size: 1rem;
}

.back-link {
  color: #007bff;
  text-decoration: none;
}

.Title {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 4.6rem;
  padding-top: 2rem;
}

.Pic {
  margin-left: 4.6rem;
  object-fit:scale-down;
  height: 100%;  
  width: 50%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 50px;
}
.pic-div{
  height: 400px;
}

.PriceBox {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-left: 4.6rem;
}

.PriceH {
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
  padding-top: 1rem;
}


.tableinfo{
    margin-left: 6rem;
}
.table-div{
  margin-left: 4.6rem;
}

.cell {
    margin-left: 4.6rem;
    width: 130px;
    height: 40px;
    padding: 5px;
    font-weight: 200;
  }

.Line1 {
  position: left;
  border: 0.8px solid rgb(74, 152, 231);
  left: 70rem;
  width: 55.5%;
  height: 3px;
  margin-left: 4.6rem;
}

.Infoo {
  margin: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.Line2 {
  position: left;
  border: 0.8px solid rgb(74, 152, 231);
  left: 70rem;
  width: 55.5%;
  height: 3px;
  margin-left: 4.6rem;
}

.About {
  font-size: 1.5rem;
  margin: 2rem;
  font-weight: 400;
  margin-left: 4.6rem;

}

.desc {
  margin: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-left: 4.6rem;
  width: 55.5%;
}

.Line3 {
  position: left;
  border: 0.8px solid rgb(74, 152, 231);
  left: 70rem;
  width: 55.5%;
  height: 3px;
  margin-left: 4.6rem;
}

.detailz {
  font-size: 1.5rem;
  margin: 2rem;
  font-weight: bold;
  margin-left: 4.6rem;
}

.detailzinfo {
  margin: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-left: 4.6rem;
}

.detailzinfo p {
  margin: 1rem 0;
  
}
