
.Table{
  padding-right: 2.5rem;
  padding-bottom: 3.5rem;
  margin-top: 1rem;

}
.carZ{
  min-height: 1800px;
}

.left{
  width: 60%;
}
.right{
  width: 30%;
}

.mobile-menu{
  display: none;
}

@media screen and (min-width:1100px),(-ms-high-contrast: active), (-ms-high-contrast: none) {  
   .mobile-menu{
    -ms-wrap-flow: both;
    -ms-wrap-margin: 10px;
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
   }
}


.NavBack {
  margin: 2rem;
  font-size: 1rem;
}

.back-link {
  color: #007bff;
  text-decoration: none;
}


.Pic {
  margin-left: 4.6rem;
  object-fit:scale-down;
  height: 100%;  
  width: 50%;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;

}
.pic-div{
  height: 400px;
}

.PriceBox {
  color: black;
  padding-bottom: 1rem;
  margin-left: 4.6rem;
}

.PriceH {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  padding-top: 1rem;
}


.tableinfo{
  margin-left: 6rem;
  
}
.table-div{
  margin-left: 4.6rem;
  
}

.cell {
  margin-left: 4.6rem;
  width: 130px;
  height: 40px;
  padding: 5px;
  font-weight: 200;
}



.Line1 {
  position: left;
  border: 0.8px solid rgb(74, 152, 231);
  left: 70rem;
  width: 85%;
  height: 3px;
  margin-left: 4.6rem;
}

.Infoo {
  margin: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.Line2 {
  position: left;
  border: 0.8px solid rgb(74, 152, 231);
  left: 70rem;
  width: 85%;
  height: 3px;
  margin-left: 4.6rem;
}

.About {
  font-size: 1.5rem;
  margin: 2rem;
  font-weight: 300;
  margin-left: 4.6rem;

}

.desc {
  margin: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-left: 4.6rem;
  width: 85%;
  font-weight: 200;
}

.Line3 {
  position: left;
  border: 0.8px solid rgb(74, 152, 231);
  left: 70rem;
  width: 85%;
  height: 3px;
  margin-left: 4.6rem;
}

.detailz {
  font-size: 1.5rem;
  margin: 2rem;
  font-weight: bold;
  margin-left: 4.6rem;
  font-weight: 300;

}

.detailzinfo {
  margin: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-left: 4.6rem;
  font-weight: 200;
}


.morefeatured{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.MoreCars{
  display: flex;
  margin-left: 22.8rem;
  flex-wrap: nowrap;
}
.modal{
  display: block;
  position: fixed;
  position: relative;
  padding-top: 150px;
  /* overflow: auto; */

  background-color: rgba(255, 255, 255, 0);

}




      
