.dashboard-container {
  margin: 0 auto;
  padding: 20px;
  min-height: 100%;
  display:flex;
  flex-direction: column;
}
.dashboard-link {
  color: inherit;
  text-decoration: none;
}

.dashboard-search {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  width: 75%;
  height: 30px;
}

.dashboard-search input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-right: 0.5rem;
  height: 30px;
}

.dashboard-search input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 2px;
  border-color: #0b84e8;
}

.dashboard-search button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.dashboard-search button:hover {
  background-color: #0069d9;
}

.dashboard-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.dashboard-select select {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 40px;
}

.dashboard-select select:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 2px;
  border-color: #0b84e8;
}

.yearFilter {
  margin-right: 0.5rem;
}

.dashboard-table {
  margin: 1rem auto;
  width: 75%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
}
.dashboard-select select option {
  font-size: 1rem;
}
.dashboard-price {
  display: flex;
  align-items: center;
  margin: 1rem auto;
}

.dashboard-price input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-right: 0.5rem;
  height: 30px;
}

.dashboard-price input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 2px;
  border-color: #0b84e8;
}

.dashboard-price .price-dash {
  margin: 0 0.5rem;
}

.dashboard-price input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.dashboard-price input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  width: 50%;
}
.dashboard-price input[type=number]:focus {
  box-shadow: none;
  border-color: #0b84e8;
}

.dashboard-price input[type=number]:focus::-webkit-inner-spin-button {
  display: none;
}




