.dashboard-container {
  margin: 0 auto;
  padding: 20px;
  min-height: 60%;
  display:flex;
  flex-direction: column;
}
.dashboard-link {
  color: inherit;
  text-decoration: none;
}

.dashboard-search {
  display:flex;
  margin-top: 2rem;
  align-items: flex-end;
  width: 40%;
  height: 34px;
}

.dashboard-search input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-right: 0.5rem;
  height: 30px;
}

.dashboard-search input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 2px;
  border-color: #0b84e8;
}

.dashboard-search button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.dashboard-search button:hover {
  background-color: #0069d9;
}

.dashboard-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dashboard-select select {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  margin-left: 2.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 50px;
}

.dashboard-select select:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 2px;
  border-color: #0b84e8;
}

.yearFilter {
  margin-right: 0.5rem;
}

.dashboard-table {
  margin: 1rem auto;
  width: 75%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
}
.dashboard-select select option {
  font-size: 1rem;
}
.dashboard-price {
  display: flex;
  align-items: center;
  margin: 1rem auto;
}

.dashboard-price input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-right: 0.5rem;
  height: 30px;
}

.dashboard-price input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 2px;
  border-color: #0b84e8;
}

.dashboard-price .price-dash {
  margin: 0 0.5rem;
}

.dashboard-price input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.dashboard-price input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  width: 50%;
}
.dashboard-price input[type=number]:focus {
  box-shadow: none;
  border-color: #0b84e8;
}

.dashboard-price input[type=number]:focus::-webkit-inner-spin-button {
  display: none;
}
@media screen and (max-width: 768px) {
  .test{
    display:block !important;
    flex-direction: row;
    width: 100%;
  }
  .dashboard-search {
    width: 100%;
    margin-top: 2rem;
    align-items: flex-end;
    height: 34px;
    margin-bottom: 2rem;
  }
  .dashboard-search input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
    margin-right: 0.5rem;
    height: 30px;
  }
  .dashboard-select {
    width: 100% !important;
    margin-bottom: 2rem;
    align-items: center !important;
    margin-right: 0 !important;
    justify-content: left !important;
  }
  .dashboard-select select {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    margin-left: 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 50px;
    margin-right: 0.5rem;
  }
  
  .dashboard-select select {
    width: 100%;
  }
  .dashboard-price {
    width: 100%;
  }
  .dashboard-price input {
    width: 100%;
  }
}

