  .footer {
    position: relative;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    margin-top: auto;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-link {
    color: #1d2029;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    font-size: 1rem;
    transition: all 0.2s ease;
  }
  
  .footer-link:hover {
    background-color: #0b84e8;
    color: #ffffff;
  }
  