.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 121vh;
  font-family: Arial, sans-serif;
}

.calendar-container {
  margin-top: 0.2rem;
  max-width: 600px;
}

.react-calendar {
  border: none;
  font-size: 1.2rem;
  line-height: 1.5;
  height: auto;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
}

.react-calendar__tile {
  height: 4rem;
  background-color: #ffffff;
  color: black;
}

.react-calendar__tile--now {
  background-color: #cbe1ff;
}

.react-calendar__tile--active,
.react-calendar__tile--active:hover,
.react-calendar__tile--active:focus {
  background-color: #9ba5d9;
  color: black;
}

.booked-day {
  background-color: #acd9f6;
  border-radius: 1rem;
  border: none;
  color: black;
  font-weight: bold;
  text-align: center;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.bold {
  font-weight: bold;
  margin-right: 0.5rem;
}

.modal {
  margin-top: 17rem;
  margin-left: 15rem;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.modal ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.modal li {
  margin: 0.5rem 0;
}

.modal button {
  background-color: #d8d8d8;
  color: #333333;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem;
  width: 90px;
}

.modal button.active {
  background-color: #9ba5d9;
  color: black;
}

.confirm-button {
  background-color: #d8d8d8;
  color: #333333;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 100px;
}

.confirm-button:disabled {
  background-color: #e0e0e0;
  color: #aaaaaa;
  cursor: not-allowed;
}
